---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About this site";

const identity = {
  name: "Clever Cloud",
  country: "France",
  occupation: "Cloud Platform",
  hobbies: ["data", "hypervisors", "runtimes"]

};

const socials = {
    github: {
        link: "https://github.com/CleverCloud/",
        name: "GitHub"
    }
};

const skills = ["Open Source", "Sozu", "Databases", "Industrial automation", "Serverless", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style  define:vars={{skillColor, fontWeight, textCase}}>
.skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h2>This site is a demo for
        <a href= "https://clever-cloud.com">Clever Cloud</a>
    </h2>
    <p>This site shows a working demo for Astro deployed on Clever Cloud <3</p>
    <p>Here are a few facts about us:</p>
        <ul>
            <li>We are {identity.name}.</li>
            <li>We come from {identity.country} and provide a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
            <li>Two of our hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            <li>We are on 
                <a href={socials.github.link} target="_blank" rel="noopener noreferrer">{socials.github.name}</a>
            </li>
            }
        </ul>
    <p>Our skills are:</p>
         <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>We're happy to be learning Astro!</p>}

        {finished && <p>We finished this tutorial!</p>}
            
        {goal === 3 ? <p>Our goal is to finish in 1 day.</p> : <p>My goal is not 1 day.</p>}

</BaseLayout>